.task {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.taskDone {
  .taskName {
    text-decoration: line-through;
  }
}

.taskCheckbox {
  flex-basis: 10%;
}

.taskName {
  flex-basis: 70%;
}

.taskAction {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.taskButton {
  width: 3rem;
  height: 3rem;
  display: inline-block;
}
